@import 'chrome://global/skin/';
@import 'chrome://global/skin/toolbar.css';
@import 'chrome://dta/skin/common/style.css';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#prespacer {
	display: none;
}

window[sizemode="maximized"] #footer > resizer {
	display: none;
}

/** :: Toolbar :: **/
toolbox {
	border-width: 0px;
	padding: 0;
	margin: 0;
}

#tools {
	border-width: 0px;
	padding: 0;
	margin: 0;
}
#tools > toolbarbutton {
	list-style-image: url(tools.png);
	-moz-box-orient: vertical !important;
	-moz-box-align: center !important;
	margin-top: 3px;
	margin-bottom: 2px;
	text-align: center;
}
#tools[mode="icons"] > toolbarbutton {
	padding: 5px;
}
#tools[mode="full"] > toolbarbutton {
	min-width: 50px;
}

#tools .toolbarbutton-icon {
	margin: 0 !important;
}

#tools .toolbarbutton-text {
	margin: 0;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

#tools toolbarspacer {
	min-width: 5px;
}
#tools toolbarspacer.visible {
	background: url(chrome://dta/skin/common/toolbarspacer.png) no-repeat 50% 50%;
	min-width: 13px;
	padding: 0;
	margin: 0;
	height: 100%;
}

#tooladd {
	-moz-image-region: rect(0px,52px,26px,26px);
	margin-left: 1ex;
}
#tooladd:hover, #tooladd:active {
	-moz-image-region: rect(0px,26px,26px,0px);
}
#tooladd[disabled="true"] {
	-moz-image-region: rect(0px,78px,26px,52px);
}


#toolcancel {
	-moz-image-region: rect(26px,52px,52px,26px);
}
#toolcancel:hover, #toolcancel:active {
	-moz-image-region: rect(26px,26px,52px,0px);
}
#toolcancel[disabled="true"] {
	-moz-image-region: rect(26px,78px,52px,52px);
}

#toolplay {
	-moz-image-region: rect(52px,52px,78px,26px);
}
#toolplay:hover, #toolplay:active {
	-moz-image-region: rect(52px,26px,78px,0px);
}
#toolplay[disabled="true"] {
	-moz-image-region: rect(52px,78px,78px,52px);
}


#toolpause {
	-moz-image-region: rect(78px,52px,104px,26px);
}
#toolpause:hover, #toolpause:active {
	-moz-image-region: rect(78px,26px,104px,0px);
}
#toolpause[disabled="true"] {
	-moz-image-region: rect(78px,78px,104px,52px);
}

#toolmovetop {
	-moz-image-region: rect(104px,52px,130px,26px);
}
#toolmovetop:hover, #toolmovetop:active {
	-moz-image-region: rect(104px,26px,130px,0px);
}
#toolmovetop[disabled="true"] {
	-moz-image-region: rect(104px,78px,130px,52px);
}

#toolmoveup {
	-moz-image-region: rect(130px,52px,156px,26px);
}
#toolmoveup:hover, #toolmoveup:active {
	-moz-image-region: rect(130px,26px,156px,0px);
}
#toolmoveup[disabled="true"] {
	-moz-image-region: rect(130px,78px,156px,52px);
}

#toolmovedown {
	-moz-image-region: rect(156px,52px,182px,26px);
}
#toolmovedown:hover, #toolmovedown:active {
	-moz-image-region: rect(156px,26px,182px,0px);
}
#toolmovedown[disabled="true"] {
	-moz-image-region: rect(156px,78px,182px,52px);
}

#toolmovebottom {
	-moz-image-region: rect(182px,52px,208px,26px);
}
#toolmovebottom:hover, #toolmovebottom:active {
	-moz-image-region: rect(182px,26px,208px,0px);
}
#toolmovebottom[disabled="true"] {
	-moz-image-region: rect(182px,78px,208px,52px);
}

@media (min-resolution: 2dppx) {
	toolbar#tools > toolbarbutton {
		list-style-image: url(tools@2x.png);
	}
	toolbar#tools > toolbarbutton .toolbarbutton-icon {
		width: 24px;
	}

	#tooladd {
		-moz-image-region: rect(0px,104px,52px,52px);
	}
	#tooladd:hover, #tooladd:active {
		-moz-image-region: rect(0px,52px,52px,0px);
	}
	#tooladd[disabled="true"] {
		-moz-image-region: rect(0px,156px,52px,104px);
	}

	#toolcancel {
		-moz-image-region: rect(52px,104px,104px,52px);
	}
	#toolcancel:hover, #toolcancel:active {
		-moz-image-region: rect(52px,52px,104px,0px);
	}
	#toolcancel[disabled="true"] {
		-moz-image-region: rect(52px,156px,104px,104px);
	}

	#toolplay {
		-moz-image-region: rect(104px,104px,156px,52px);
	}
	#toolplay:hover, #toolplay:active {
		-moz-image-region: rect(104px,52px,156px,0px);
	}
	#toolplay[disabled="true"] {
		-moz-image-region: rect(104px,156px,156px,104px);
	}


	#toolpause {
		-moz-image-region: rect(156px,104px,208px,52px);
	}
	#toolpause:hover, #toolpause:active {
		-moz-image-region: rect(156px,52px,208px,0px);
	}
	#toolpause[disabled="true"] {
		-moz-image-region: rect(156px,156px,208px,104px);
	}

	#toolmovetop {
		-moz-image-region: rect(208px,104px,260px,52px);
	}
	#toolmovetop:hover, #toolmovetop:active {
		-moz-image-region: rect(208px,52px,260px,0px);
	}
	#toolmovetop[disabled="true"] {
		-moz-image-region: rect(208px,156px,260px,104px);
	}

	#toolmoveup {
		-moz-image-region: rect(260px,104px,312px,52px);
	}
	#toolmoveup:hover, #toolmoveup:active {
		-moz-image-region: rect(260px,52px,312px,0px);
	}
	#toolmoveup[disabled="true"] {
		-moz-image-region: rect(260px,156px,312px,104px);
	}

	#toolmovedown {
		-moz-image-region: rect(312px,104px,364px,52px);
	}
	#toolmovedown:hover, #toolmovedown:active {
		-moz-image-region: rect(312px,52px,364px,0px);
	}
	#toolmovedown[disabled="true"] {
		-moz-image-region: rect(312px,156px,364px,104px);
	}

	#toolmovebottom {
		-moz-image-region: rect(364px,104px,416px,52px);
	}
	#toolmovebottom:hover, #toolmovebottom:active {
		-moz-image-region: rect(364px,52px,416px,0px);
	}
	#toolmovebottom[disabled="true"] {
		-moz-image-region: rect(364px,156px,416px,104px);
	}
}


/** :: Tooltip :: **/
#tooltip{
	width: 540px;
	padding: 1em;
}
#infoIcon {
	margin: 1ex;
	max-width: 64px;
}
#tooltip grid {
	-moz-box-flex: 1;
}
#infoGrid label {
	margin-bottom: 0;
	font-weight: bold;
}
#infoGrid label[crop] {
	font-weight: normal;
	max-width: 300px;
}
#canvasGrid label[id] {
	font-weight: bold;
}
#canvasGrid column {
	max-width: 12em;
}
#canvasGrid column.col-value {
	min-width: 8em;
}
#infoPercent {
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 4px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 0px #d7ff85 !important;
	color: #252525 !important;
}
#infoDest {
	font-weight: bold !important;
	font-size: 105%;
}
#infoPrivate {
	font-size: x-small;
	font-style: italic;
}

/** :: Downloads :: **/

#downloads > treechildren::-moz-tree-progressmeter {
	padding: 1px; /* songbird compat */
	background-image: none !important; /* songbird compat */
	margin-left: 0;
}
treechildren::-moz-tree-progressmeter(completed) {
	color: #008F00 !important;
}

treechildren::-moz-tree-progressmeter(finishing) {
	color: #57cc12 !important;
}

treechildren::-moz-tree-progressmeter(paused) {
	color: #FFCC00 !important;
}
treechildren::-moz-tree-progressmeter(progressUndetermined) {
	list-style-image: url(undetermined.png);
}
treechildren::-moz-tree-progressmeter(progressUndetermined, pausedUndetermined) {
	list-style-image: url(paused-undetermined.png);
}
treechildren::-moz-tree-progressmeter(progressUndetermined, pausedUndetermined, pausedAutoretrying) {
	list-style-image: url(paused-autoretry.png);
}
treechildren::-moz-tree-progressmeter(paused, pausedAutoretrying) {
	color: #849FFF !important;
}
treechildren::-moz-tree-progressmeter(canceled) {
	color: #B12801 !important;
}

treechildren::-moz-tree-progressmeter(queued) {
	color: #BFDEFF !important;
}

treechildren::-moz-tree-progressmeter(inprogress) {
	color: #AAE061 !important;
}

treechildren::-moz-tree-image(iconic) {
	list-style-image: url(icons.png);
	-moz-image-region: rect(16px,48px,32px,32px);
}
treechildren::-moz-tree-image(iconic,progress) {
	-moz-image-region: rect(16px,48px,32px,32px);
	padding-right: 0.2ex !important;
}
treechildren::-moz-tree-image(iconic,canceled) {
	-moz-image-region: rect(0px,64px,16px,48px);
}
treechildren::-moz-tree-image(iconic,paused) {
	-moz-image-region: rect(0px,48px,16px,32px);
}
treechildren::-moz-tree-image(iconic,paused,pausedAutoretrying) {
	-moz-image-region: rect(64px,48px,80px,32px);
}
treechildren::-moz-tree-image(iconic,finishing),
treechildren::-moz-tree-image(iconic,inprogress) {
	-moz-image-region: rect(0px,16px,16px,0px);
}
treechildren::-moz-tree-image(iconic,completed) {
	-moz-image-region: rect(64px,16px,80px,0px);
}
treechildren::-moz-tree-image(iconic,completed,verified) {
	-moz-image-region: rect(64px,32px,80px,16px);
}
treechildren::-moz-tree-cell-text(private) {
	font-style: italic !important;
}

@media (min-resolution: 2dppx) {
	treechildren::-moz-tree-image(iconic) {
		list-style-image: url(icons@2x.png);
		-moz-image-region: rect(32px,96px,64px,64px);
		width: 16px !important;
	}
	treechildren::-moz-tree-image(iconic,progress) {
		-moz-image-region: rect(32px,96px,64px,64px);
	}
	treechildren::-moz-tree-image(iconic,canceled) {
		-moz-image-region: rect(0px,128px,32px,96px);
	}
	treechildren::-moz-tree-image(iconic,paused) {
		-moz-image-region: rect(0px,96px,32px,64px);
	}
	treechildren::-moz-tree-image(iconic,paused,pausedAutoretrying) {
		-moz-image-region: rect(128px,96px,160px,64px);
	}
	treechildren::-moz-tree-image(iconic,finishing),
	treechildren::-moz-tree-image(iconic,inprogress) {
		-moz-image-region: rect(0px,32px,32px,0px);
	}
	treechildren::-moz-tree-image(iconic,completed) {
		-moz-image-region: rect(128px,32px,160px,0px);
	}
	treechildren::-moz-tree-image(iconic,completed,verified) {
		-moz-image-region: rect(128px,64px,160px,32px);
	}
}

/** :: Menu :: **/

/* menu elements */
#speedLimit {
	display: list-item;
}
#speedLimit,
#actions,
#popup > menu,
#popup > menuitem,
#removeCompletedMenu menuitem,
#removeMenu menuitem,
#advancedMenu menuitem {
	list-style-image: url(icons.png);
}

#actionsbox:not([show]) {
	display: none !important;
}

#actions {
	padding: 2pt;
}
#actions > toolbarbutton[disabled="true"] {
	opacity: 0.5;
}
#actions > toolbarbutton > .toolbarbutton-text {
	display: none;
}
#actions > toolbarseparator {
	-moz-appearance: none;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	-moz-border-top-colors: transparent transparent ThreeDShadow;
	-moz-border-bottom-colors: transparent transparent ThreeDHighlight;
}

#advancedMenu {
	-moz-image-region: rect(160px,16px,176px,0px);
}
#advancedMenu[disabled="true"] {
	-moz-image-region: rect(176px,16px,192px,0px);
}

.info {
	-moz-image-region: rect(96px,16px,112px,0px);
}
.info[disabled="true"] {
	-moz-image-region: rect(112px,16px,128px,0px);
}

.launch {
	-moz-image-region: rect(128px,16px,144px,0px);
}
.launch[disabled="true"] {
	-moz-image-region: rect(144px,16px,160px,0px);
}

.delete {
	-moz-image-region: rect(128px,48px,144px,32px);
}
.delete[disabled="true"] {
	-moz-image-region: rect(144px,48px,160px,32px);
}

.folder {
	-moz-image-region: rect(128px,32px,144px,16px);
}
.folder[disabled="true"] {
	-moz-image-region: rect(144px,32px,160px,16px);
}

.play {
	-moz-image-region: rect(0px,16px,16px,0px);
}
.play[disabled="true"] {
	-moz-image-region: rect(16px,16px,32px,0px);
}

.pause {
	-moz-image-region: rect(0px,48px,16px,32px);
}
.pause[disabled="true"] {
	-moz-image-region: rect(16px,48px,32px,32px);
}

.cancel {
	-moz-image-region: rect(0px,64px,16px,48px);
}
.cancel[disabled="true"] {
	-moz-image-region: rect(16px,64px,32px,48px);
}

#speedLimit {
	-moz-image-region: rect(192px,28px,204px,16px);
}
#speedLimit[value="-1"] {
	-moz-image-region: rect(192px,60px,204px,48px);
}
#addlimits,
#perDownloadSpeedLimit {
	-moz-image-region: rect(192px,16px,208px,0px);
}
#perDownloadSpeedLimit[value="-1"] {
	-moz-image-region: rect(192px,48px,208px,32px);
}

.import {
	-moz-image-region: rect(128px,64px,144px,48px);
}
.import[disabled="true"] {
	-moz-image-region: rect(144px,64px,160px,48px);
}

.export {
	-moz-image-region: rect(128px,80px,144px,64px);
}
.export[disabled="true"] {
	-moz-image-region: rect(144px,80px,160px,64px);
}

.rename {
	-moz-image-region: rect(128px,96px,144px,80px);
}
.rename[disabled="true"] {
	-moz-image-region: rect(144px,96px,160px,80px);
}

.force {
	-moz-image-region: rect(0px,32px,16px,16px);
}
.force[disabled="true"] {
	-moz-image-region: rect(16px,32px,32px,16px);
}

#removeMenu > menuitem,
#removeselected,
#removeHost,
#removeBatch,
#removeAll {
	-moz-image-region: rect(64px,64px,80px,48px);
}
#removeMenu[disabled="true"],
#removeSelected[disabled="true"],
#removeAll[disabled="true"] {
	-moz-image-region: rect(80px,64px,96px,48px);
}

#removeCompletedMenu > menuitem,
#removeCompleted {
	-moz-image-region: rect(64px,16px,80px,0px);
}
#removeCompletedMenu[disabled="true"],
#removeCompleted[disabled="true"] {
	-moz-image-region: rect(80px,16px,96px,0px);
}

.cleangone {
	-moz-image-region: rect(96px,32px,112px,16px);
}
.cleanegone[disabled="true"] {
	-moz-image-region: rect(112px,32px,128px,16px);
}

.addchunk {
	-moz-image-region: rect(160px,32px,176px,16px);
}
.addchunk[disabled="true"] {
	-moz-image-region: rect(176px,32px,192px,16px);
}

.removechunk {
	-moz-image-region: rect(160px,48px,176px,32px);
}
.removechunk[disabled="true"] {
	-moz-image-region: rect(176px,48px,192px,32px);
}

.movetop {
	-moz-image-region: rect(32px,16px,48px,0px);
}
.movetop[disabled="true"] {
	-moz-image-region: rect(48px,16px,64px,0px);
}

.moveup {
	-moz-image-region: rect(32px,32px,48px,16px);
}
.moveup[disabled="true"] {
	-moz-image-region: rect(48px,32px,64px,16px);
}

.movedown {
	-moz-image-region: rect(32px,48px,48px,32px);
}
.movedown[disabled="true"] {
	-moz-image-region: rect(48px,48px,64px,32px);
}

.movebottom {
	-moz-image-region: rect(32px,64px,48px,48px);
}
.movebottom[disabled="true"] {
	-moz-image-region: rect(48px,64px,64px,48px);
}

.mirrors,
.mirrors-cascaded {
	-moz-image-region: rect(160px,64px,176px,48px);
}
.mirrors[disabled="true"],
.mirrors-cascaded[disable="true"] {
	-moz-image-region: rect(176px,64px,192px,48px);
}

#removeDupes {
	-moz-image-region: rect(96px,48px,112px,32px);
}
#removeDupes[disabled="true"] {
	-moz-image-region: rect(112px,48px,128px,32px);
}


.menuitem-filter {
	-moz-image-region: rect(208px,48px,224px,32px);
}

/* menuitem common */
toolbarbutton.listselectall,  menuitem#listselectall {
	list-style-image: url(chrome://dta/skin/common/selection.png);
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
toolbarbutton.listselectinv, menuitem#listselectinv {
	list-style-image: url(chrome://dta/skin/common/selection.png);
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}

@media (min-resolution: 2dppx) {
	#speedLimit,
	#actions,
	#popup > menu,
	#popup > menuitem,
	#removeCompletedMenu menuitem,
	#removeMenu menuitem,
	#advancedMenu menuitem {
		list-style-image: url(icons@2x.png);
	}

	#advancedMenu {
		-moz-image-region: rect(320px,32px,352px,0px);
	}
	#advancedMenu[disabled="true"] {
		-moz-image-region: rect(352px,32px,384px,0px);
	}

	.info {
		-moz-image-region: rect(192px,32px,224px,0px);
	}
	.info[disabled="true"] {
		-moz-image-region: rect(224px,32px,256px,0px);
	}

	.launch {
		-moz-image-region: rect(256px,32px,288px,0px);
	}
	.launch[disabled="true"] {
		-moz-image-region: rect(288px,32px,320px,0px);
	}

	.delete {
		-moz-image-region: rect(256px,96px,288px,64px);
	}
	.delete[disabled="true"] {
		-moz-image-region: rect(288px,96px,320px,64px);
	}

	.folder {
		-moz-image-region: rect(256px,64px,288px,32px);
	}
	.folder[disabled="true"] {
		-moz-image-region: rect(288px,64px,320px,32px);
	}

	.play {
		-moz-image-region: rect(0px,32px,32px,0px);
	}
	.play[disabled="true"] {
		-moz-image-region: rect(32px,32px,64px,0px);
	}

	.pause {
		-moz-image-region: rect(0px,96px,32px,64px);
	}
	.pause[disabled="true"] {
		-moz-image-region: rect(32px,96px,64px,64px);
	}

	.cancel {
		-moz-image-region: rect(0px,128px,32px,96px);
	}
	.cancel[disabled="true"] {
		-moz-image-region: rect(32px,128px,64px,96px);
	}

	#speedLimit {
		-moz-image-region: rect(384px,56px,408px,32px);
	}
	#speedLimit[value="-1"] {
		-moz-image-region: rect(384px,120px,408px,96px);
	}
	#addlimits,
	#perDownloadSpeedLimit {
		-moz-image-region: rect(384px,32px,416px,0px);
	}
	#perDownloadSpeedLimit[value="-1"] {
		-moz-image-region: rect(384px,96px,416px,64px);
	}

	.import {
		-moz-image-region: rect(256px,128px,288px,96px);
	}
	.import[disabled="true"] {
		-moz-image-region: rect(288px,128px,320px,96px);
	}

	.export {
		-moz-image-region: rect(256px,160px,288px,128px);
	}
	.export[disabled="true"] {
		-moz-image-region: rect(288px,160px,320px,128px);
	}

	.rename {
		-moz-image-region: rect(256px,192px,288px,160px);
	}
	.rename[disabled="true"] {
		-moz-image-region: rect(288px,192px,320px,160px);
	}

	.force {
		-moz-image-region: rect(0px,64px,32px,32px);
	}
	.force[disabled="true"] {
		-moz-image-region: rect(32px,64px,64px,32px);
	}

	#removeMenu > menuitem,
	#removeselected,
	#removeHost,
	#removeBatch,
	#removeAll {
		-moz-image-region: rect(128px,128px,160px,96px);
	}
	#removeMenu[disabled="true"],
	#removeSelected[disabled="true"],
	#removeAll[disabled="true"] {
		-moz-image-region: rect(160px,128px,192px,96px);
	}

	#removeCompletedMenu > menuitem,
	#removeCompleted {
		-moz-image-region: rect(128px,32px,160px,0px);
	}
	#removeCompletedMenu[disabled="true"],
	#removeCompleted[disabled="true"] {
		-moz-image-region: rect(160px,32px,192px,0px);
	}

	.cleangone {
		-moz-image-region: rect(192px,64px,224px,32px);
	}
	.cleanegone[disabled="true"] {
		-moz-image-region: rect(224px,64px,256px,32px);
	}

	.addchunk {
		-moz-image-region: rect(320px,64px,352px,32px);
	}
	.addchunk[disabled="true"] {
		-moz-image-region: rect(352px,64px,384px,32px);
	}

	.removechunk {
		-moz-image-region: rect(320px,96px,352px,64px);
	}
	.removechunk[disabled="true"] {
		-moz-image-region: rect(352px,96px,384px,64px);
	}

	.movetop {
		-moz-image-region: rect(64px,32px,96px,0px);
	}
	.movetop[disabled="true"] {
		-moz-image-region: rect(96px,32px,128px,0px);
	}

	.moveup {
		-moz-image-region: rect(64px,64px,96px,32px);
	}
	.moveup[disabled="true"] {
		-moz-image-region: rect(96px,64px,128px,32px);
	}

	.movedown {
		-moz-image-region: rect(64px,96px,96px,64px);
	}
	.movedown[disabled="true"] {
		-moz-image-region: rect(96px,96px,128px,64px);
	}

	.movebottom {
		-moz-image-region: rect(64px,128px,96px,96px);
	}
	.movebottom[disabled="true"] {
		-moz-image-region: rect(96px,128px,128px,96px);
	}

	.mirrors,
	.mirrors-cascaded {
		-moz-image-region: rect(320px,128px,352px,96px);
	}
	.mirrors[disabled="true"],
	.mirrors-cascaded[disable="true"] {
		-moz-image-region: rect(352px,128px,384px,96px);
	}

	#removeDupes {
		-moz-image-region: rect(192px,96px,224px,64px);
	}
	#removeDupes[disabled="true"] {
		-moz-image-region: rect(224px,96px,256px,64px);
	}

	.menuitem-filter {
		-moz-image-region: rect(416px,96px,448px,64px);
	}

	/* menuitem common */
	toolbarbutton.listselectall,  menuitem#listselectall {
		list-style-image: url(chrome://dta/skin/common/selection@2x.png);
		-moz-image-region: rect(0px, 32px, 32px, 0px);
	}
	toolbarbutton.listselectinv, menuitem#listselectinv {
		list-style-image: url(chrome://dta/skin/common/selection@2x.png);
		-moz-image-region: rect(0px, 96px, 32px, 64px);
	}

	.menu-iconic-icon,
	#actions .toolbarbutton-icon {
		width: 16px;
	}
}

.menu-iconic-accel {
	font-size: 75%;
}
#popup > menu .menu-right {
	/* for some reason OSX messes this up ?! */
	max-height: 16px;
	max-width: 16px;
}

/** :: Speedlist :: **/

#listSpeeds .menulist-label,
#listSpeeds menuitem {
	font-size: 85%;
}
#listSpeeds,
#listSpeeds  textbox {
	padding: 0px !important;
	margin: 0px !important;
	cursor: default;
}
#listSpeeds menuitem,
#listSpeeds menuseparator {
	padding-right: 4px;
}
#listSpeeds menuitem > .menu-iconic-left {
	display: none;
}
#listSpeeds menuitem > .menu-iconic-text {
	-moz-box-flex: 1;
}
#listSpeeds menuitem[selected="true"] {
	font-weight: bold;
}

/** :: Misc :: **/

#downloads[offline] > treechildren  {
	opacity: 0.7;
}

#loadingbox {
	opacity: 0.6;
	background-color: -moz-Field;
}

#loading {
	-moz-appearance: none;
	-moz-user-focus: ignore;
	border: none !important;
	min-width: 0;
	background-color: transparent;
	color: -moz-fieldText;

	font-size: large;
	font-weight: bold;
}

#loading label {
	padding-left: 2ex;
}

textbox.plain {
	background-color: transparent !important;
}

/** status panels **/
.statusbarpanel-iconic-text {
	padding-left: 4pt;
}
.statusbarpanel-iconic {
	padding-left: 6px;
	padding-right: 6px;
	min-width: 16px;
}

/* schedule */
statusbarpanel#schedule {
	list-style-image: url(icons.png);
	-moz-image-region: rect(208px,64px,224px,48px);
}
statusbarpanel#schedule[disabled] {
	display: none;
}
statusbarpanel#schedule:not([running]) {
	-moz-image-region: rect(208px,80px,224px,64px);
}



/* search */
#search {
	-moz-binding: url(chrome://dta/content/common/bindings.xml#downloadsearch);
	-moz-box-flex: 1;
	min-width: 5em;
	max-width: 15em;
}
#search image {
	margin-right: 4px;
}


#statusText {
	list-style-image: url(icons.png);
	-moz-image-region: rect(208px,16px,224px,0px);
}
#statusSpeed {
	text-align: right;
	min-width: 8em;
	list-style-image: url(icons.png);
	-moz-image-region: rect(208px,32px,224px,16px);
}

@media (min-resolution: 2dppx) {
	.statusbarpanel-icon {
		width: 16px;
	}
	#statusText {
		list-style-image: url(icons@2x.png);
		-moz-image-region: rect(416px,32px,448px,0px);
	}
	#statusSpeed {
		list-style-image: url(icons@2x.png);
		-moz-image-region: rect(416px,64px,448px,32px);
	}
	#statusSpeeds .menulist-icon {
		width: 12px;
	}
	statusbarpanel#schedule {
		list-style-image: url(icons@2x.png);
		-moz-image-region: rect(416px,128px,448px,96px);
	}
	statusbarpanel#schedule[disabled] {
		display: none;
	}
	statusbarpanel#schedule:not([running]) {
		-moz-image-region: rect(416px,160px,448px,128px);
	}
}

treecol[matcher] {
	-moz-binding: url(chrome://dta/content/common/bindings.xml#treecol-matcher);
}
.treecol-marker {
	padding: 1px;
	margin: 0;
	border: 0;
}
treecol[params] .treecol-marker {
	-moz-appearance: none;
	background-color: transparent;
	list-style-image: url(chrome://global/skin/checkbox/cbox-check.gif);
}
